<div class="carousel">
    <button id="prevButton">◀</button>
    <div class="images">
        {% for img, alt in images %}
            <img class="carousel-img" src="{{ img }}" alt="{{ alt }}" id="img{{ loop.index0 }}">
            {% endfor %}
        </div>
        <button id="nextButton">▶</button>
    </div>
    <div class="progress-bar"></div>
    <script src="{{ '/scripts/carousel.js' | url | safe }}"></script>