<div class="carousel">
    <button id="prevButton">◀</button>
    <div class="images">

        {% set output = ["commission/",tag,"/thumbs/"] | join %}
        {% asyncEach image in collections[tag] %}
            <div class="carousel-img"  id="img{{ loop.index0 }}">

            {% EleventyImage image.source, image.title, "(min-width: 30em) 50vw, 100vw", output%}
           </div>
            {% endeach %}
        </div>
        <button id="nextButton">▶</button>
    </div>
    <div class="progress-bar"></div>
    <script src="{{ '/scripts/carousel.js' | url | safe }}"></script>