<article class="container commission">
    
    <a href="{{type.url}}"><h2>{{type.data.title}}</h2></a>
    <hr> <img src="TODO {type.data.previewImage}" alt="{{type.data.title}} preview image">
    <p>i am a commission!</p>
</article>