<header class="header container">
    <h1 class="title">
        <a href="{{ about.url }}">{{ about.title }}</a>
    </h1>
    <nav>
        <ul class="nav-links">
            {% for link in header.links %}
                <li class="nav-link">
                    <a href="{{ link.url }}">{{ link.name }}</a>
                    {% if link.suburls %}
                        <ul class="sub-links">
                            {% for url in link.suburls %}
                                <li class="sub-link">
                                    <a href="{{ url.url }}">{{ url.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>