<header class="header container">
    <h1 class="title">
        <a href="{{ about.url }}">{{ about.title }}</a>
    </h1>
    <nav class="nav">
        <ul class="nav-links">
            {% for link in header.links %}
                <li class="nav-link {{"current" if link.url else ""}}">
                    <a href="{{ link.url | url |safe}}">{{ link.name }}</a>
                    {% if link.name == "commissions" %}
                        <ul class="sub-links">
                            {% for item in collections.commission %}

                                <li class="sub-link">
                                    <a href="{{ item.url | url | safe}}">{{ item.data.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>