{%extends 'layouts/base.njk'%}

{% block header %}{% endblock %}
{% block body %}
    <main class="main container">
        {{ content | safe }}
    </main>
{% endblock %}
{% block footer %}{% endblock %}