---
title: "My Socials!"
layout: "layouts/base.njk"
---

<p>You can find me at:
</p>
<ul>
    {% for link in socials.links %}
        <li class="social">
            {% if link.url %}
                <a href="{{ link.url }}">
                {% endif %}
                    {{ link.icon | safe }} @{{ link.name }}
                {% if link.url %}
                </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>