---
title: "TODO title examples"
layout: "layouts/base.njk"
---

<div class="gallery column-container">
  {% for image in collections.artexamples %}
    <div class="column-item">
      <img class="image" src="{{ image.url | url | safe }}" alt="{{ image.title | slugify }}">
    </div>
    {% endfor %}
  </div>
</div>